# Shared
ORBIT_LEDGER_ENV=development

# Web
NEXT_PUBLIC_ORBIT_LEDGER_ENV=development
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_API_KEY=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_APP_ID=
NEXT_PUBLIC_ORBIT_LEDGER_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_ORBIT_LEDGER_RECAPTCHA_V3_SITE_KEY=
NEXT_PUBLIC_ORBIT_LEDGER_APPCHECK_DEBUG_TOKEN=

# Mobile
EXPO_PUBLIC_ORBIT_LEDGER_ENV=development
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_API_KEY=
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_ORBIT_LEDGER_FIREBASE_APP_ID=
