rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /workspaces/{workspaceId}/{allPaths=**} {
      allow read, write: if signedIn() &&
        firestore.exists(/databases/(default)/documents/workspaces/$(workspaceId)) &&
        firestore.get(/databases/(default)/documents/workspaces/$(workspaceId)).data.owner_uid == request.auth.uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
